<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/jquery/2.0.0/jquery-2.0.0.min.js"></script>
</head>
<body>
<div id="a">
    <h1>transformers中英互译</h1>
    <pre></pre>
    <select class="form-select" aria-label="Default select example" onchange="selectOnchang(this)">
        <option selected>选择翻译模式</option>
        <option value="1">英译中</option>
        <option value="2">中译英</option>
      </select>
    <form id="form1" class="row g-3" onsubmit="return false" method="post">
        <div>
            <div class="grid text-center">
                <div class="mb-3 g-col-6">
                    <textarea class="form-control" name="sentence" placeholder="请输入..." id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="mb-3 g-col-6">
                    <textarea class="form-control"  readonly id="result" rows="3"></textarea>
                </div>
              </div>
       
    </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">提交</button>
        </div>

    </form>
</div>
</body>
</html>
<style>
    #a {
        margin: 100px;

    }
</style>
<script>
    var a = 0;
    function selectOnchang(obj){  
        //获取被选中的option标签选项 
        a = obj.selectedIndex
       }
    $("button").click(function () {
        if(a==1){
            $.ajax({
                url: "/en2zh",
                type: "POST",
                data: $('#form1').serialize(),
                success: function (result) {
                    // alert(result);
                    $('#result').html(result)
                }
            });
        }else if(a==2){
            $.ajax({
                url: "/zh2en",
                type: "POST",
                data: $('#form1').serialize(),
                success: function (result) {
                    // alert(result);
                    $('#result').html(result)
                }
            });
        }else{
            alert("请选择翻译模式！")
        }
        
    });
</script>